:root {
    --base-color: #aaaaaa;
    --base-color-active: #aaaaaa;
    --active-taskbar-button: rgba(230, 230, 255, 0.8);
}

body {
    background-image: url('../images/win95.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taskbarBottom {
    height: 40px;
    width: 100%;
    background-color: var(--base-color);
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.taskbar-window-button {
    height: 45px;
    width: 45px;
    background-color: var(--base-color);
}

.taskbarBottom .taskbarThumbnailButton {
    height: 100%;
    width: 45px;
    background-color: var(--base-color);
}

.taskbarBottom .taskbarThumbnailButton:hover {
    background-color: var(--active-taskbar-button);
}

.table-cell {
    display: table-cell;
}

.table-row {
    display: table-row;
}

.table {
    display: table;
}

.window {
    position: absolute;
    left: 20px;
    top: 20px;
}

.activeWindow {
    box-shadow: 0px 0px 15px black;
}

.window .table-cell {
    background-color: var(--base-color);
}

.activeWindow .dragger {
    background: linear-gradient(to right, darkblue, lightblue);
}

.dragger {
    background: linear-gradient(to right, #444444, #cccccc);
}

.activeWindow .window-title {
    color: white;
}

.window-title {
    position: relative;
    top: 5px;
    left: 5px;
    white-space: nowrap;
}

.buttons-space {
    position: relative;
    top: 3px;
    right: 3px;
}

.window-title, .buttons-space {
    background-color: transparent !important;
    font-family: Arial;
    font-size: 12px;
    height: 20px;
    font-weight: bolder;
    color: black;
}

.top-left-resize {
    cursor: nw-resize;
    width: 5px;
    height: 30px;
    display: table-cell;
}

.top-right-resize {
    cursor: ne-resize;
    width: 5px;
    height: 30px;
    display: table-cell;
}

.left-resize {
    cursor: w-resize;
    width: 5px;
    display: table-cell;
    border-width: 1px;
    border-left-color: white;
    border-left-style: solid;
}

.right-resize {
    cursor: e-resize;
    width: 5px;
    display: table-cell;
    border-width: 1px;
    border-right-color: black;
    border-right-style: solid;
}

.left-bottom-resize {
    cursor: sw-resize;
    border-width: 1px;
    border-left-color: white;
    border-bottom-color: black;
    border-left-style: solid;
    border-bottom-style: solid;
}

.right-bottom-resize {
    cursor: se-resize;
    border-width: 1px;
    border-right-color: black;
    border-bottom-color: black;
    border-right-style: solid;
    border-bottom-style: solid;
}

.bottom-resize {
    cursor: s-resize;
    height: 5px;
    display: table-cell;
    border-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.top-resize {
    cursor: n-resize;
    display: table-cell;
    border-width: 1px;
    border-top-color: white;
    border-top-style: solid;
    height: 5px;
}

.left-top-resize {
    cursor: nw-resize;
    border-width: 1px;
    border-left-color: white;
    border-top-color: white;
    border-left-style: solid;
    border-top-style: solid;
    border-radius: 0px 0px 0px 0px;
}

.right-top-resize {
    cursor: ne-resize;
    border-width: 1px;
    border-right-color: black;
    border-top-color: white;
    border-right-style: solid;
    border-top-style: solid;
    border-radius: 0px 0px 0px 0px;
}

.right-top-resize, .left-top-resize, .right-bottom-resize, .left-bottom-resize {
    height: 6px;
    width: 6px;
    min-width: 6px;
    min-height: 6px;
    display: table-cell;
}

.dragger {
    cursor: move;
    height: 30px;
    color: black;
    font-size: 13px;
    font-family: Arial;
    min-width: 100px;
    overflow-x: hidden;
}

.titleCloseCmd, .titleCmd {
    cursor: default;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    border-radius: 0px;
    border-width: 1px;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: black;
    border-right-color: black;
    border-style: solid;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: #aaaaaa;
}

.innerWindowContentPane {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.tabsController .tabsRow .tab, .tabsController .tabsRow .activeTab {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    min-width: 100px;
    height: 25px;
    box-sizing: border-box;
    padding: 3px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    border-style: solid;
    border-top-color:white;
    border-left-color: white;
    border-bottom-color: transparent;
    border-right-color: black;
    border-width: 1px;
    border-radius: 0px 0px 0px 0px;

    cursor: default;
}

.tabsController .tabsRow .tab {
    background-color: #999999;
}

.tabsController .tabsRow .activeTab {
    border-bottom-color: transparent;
}

.tabsController .tabsRow .tab, .tabsController .tabsRow .activeTab {
    margin-right: 5px;
}

.hr {
    background-color: #aaaaaa;
    height: 5px;
    box-shadow: 0px 1px 0px black;
}